extends layout

block content
  h1= title
  meta(charset="utf-8")
  meta(name="viewport",content="width=device-width,initial-scale=1,shrink-to-fit=no")
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/style.css')

  - var house = [{ house_number: 102, type_of_house: 'Single-family detached house', location: 'Maryville' },{ house_number: 777, type_of_house: 'Duplex', location: 'Lincoln' },{ house_number: 771, type_of_house:'Townhouse', location: 'Kansas City' }]

  div(class="container-fluid")

    div(class="row")
      each f, index in house
        div(class="col-sm-2" ) #{f.house_number}, #{f.type_of_house}, #{f.location}