extends layout

block content
  h1= title


  - var house = [{ house_number: 102, type_of_house: 'Single-family detached house', location: 'Maryville' },{ house_number: 777, type_of_house: 'Duplex', location: 'Lincoln' },{ house_number: 771, type_of_house:'Townhouse', location: 'Kansas City' }]

  div(class="container-fluid")

    div(class="row")
      each f, index in house
        div(class="col-sm-2", onclick=`buy(${index})` ) #{f.house_number}, #{f.type_of_house}, #{f.location}
        script.
          function buy(index)
          {
            alert(`you purchased Item: ${index+1}`)
          }